/* Selector Styles */
body {
    background-color: #FFD880;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    color: #6B011F;
    font-family: 'Playfair Display', serif;

}

h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 4.275em;
    margin: 100px auto 0px auto;
}

h2 {
    font-family: 'Niconne', cursive;
    font-size: 2em;
    font-weight: normal;
}

hr {
    border: 2px #290149;
    border-style: solid none none;
}

/* Class Styles */
.lions {
    height: 67px;
    width: 47px;
    position: relative;
}

/* ID Styles */
#profile_photo {
        height: 100px;
        width: 100px;
        position: absolute;
        top: 5px;
        left: 2px;
}

#left_lion {
    bottom: 90px;
    right: 125px;
}

#right_lion {
    bottom: 90px;
    left: 125px;
}

#door_image {
    width: 90%;
    height: 90%;
    border: 20px solid #6B011F;
    border-style: inset;
    padding: 10px;
    background: white;
}

#header {
    height: 110px;
    width: 5000px;
    background-color: #290149;
    position: fixed;
    z-index: 1;
}

#introduction_container {
    padding-top: 130px;
}

#long_profile {
    height: 20%;
    width: 20%;
}