/* Selector Styles */
body {
    background-color: #FFD880;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    color: #6B011F;
}

h1 {
    font-family: 'Yellowtail', cursive;
}

h2 {
    font-family: 'Niconne', cursive;
}

/* Class Styles */
.lions {
    height: 67px;
    width: 47px;
    position: relative;
}

/* ID Styles */
#profile_photo {
        height: 100px;
        width: 100px;
        position: absolute;
        top: 5px;
        left: 2px;
}

#left_lion {
    bottom: 90px;
    right: 125px;
}

#right_lion {
    bottom: 90px;
    left: 125px;
}

#door_image {
    width: 90%;
    height: 90%;
    margin-top: 40px;
}

#header {
    height: 110px;
    width: 5000px;
    background-color: #290149;
    position: fixed;
    z-index: 1;
}

#introduction {
    padding-top: 130px;
}