<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Workshop</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
        <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="images/lion_favicon2.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Niconne&family=Playfair+Display&family=Yellowtail&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <img class="profile_photo" src="images/profile_5.png" alt="profile image of Judd Baroff">
        <a class="link1" href="library.html">LIBRARY</a>
        <a class="link2" href="index.html">HOME</a>
    </div>
  <h1>The Workshop</h1>
</body>
</html>